/* Estilo geral */
body, html {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* Container com display flex */
.container {
  width: 1280px;  /* Largura fixa */
  height: 720px;  /* Altura fixa */
  display: flex;
  flex-direction: column;  /* Layout flex em coluna */
  position: relative;
  overflow: hidden; /* Impede o transbordamento */
}

/* Tela de Capa */
.cover-screen {
  display: flex;
  flex-direction: column;
  width: 100%;  /* Garantir que ocupe 100% da largura */
  height: 100%;  /* Garantir que ocupe 100% da altura */
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  background-color: RGBA(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  padding: 2rem 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

.background {
  flex: 1;
  background-image: url('../img/capa.png'); /* Caminho para a imagem de fundo */
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.footer {
  width: 100%;
  text-align: center;
  background-color: RGBA(0, 0, 0, 0.7);
  padding: 2rem 0;
  position: absolute;
  bottom: 0;  /* Fixar a faixa inferior no rodapé */
}

.footer button{
  padding: 1em 3em;
  background-color: #d32f2f;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 1em;
  border-top-style: none;
  cursor: pointer;
}

.start-button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #e64a19;
}

/* Tela do jogo */
#gameScreen {
  display: flex;
  justify-content: space-between;  /* Espaçamento entre os controles e o canvas */
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f4f4f9;
}

/* Canvas */
#backgroundCanvas,
#drawingCanvas {
  width: 100%; /* Ajusta para a largura disponível */
  height: auto; /* A altura se ajusta automaticamente */
  max-width: 720px; /* Limita a largura máxima */
  max-height: 720px; /* Limita a altura máxima */
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%); /* Centraliza verticalmente */
  border: 5px solid #ccc; /* Borda do canvas */
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border-radius: 1em;
  margin: auto 1em;
  cursor: crosshair;
}

/* Controles */
.controls {
  width: 250px; /* Largura fixa para os controles */
  padding: 20px;
  background-color: #f4f4f9;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  left: 10px;
  top: 10px;
  vertical-align: middle;
}

.palette {
  display: grid;
  grid-template-columns: repeat(6, 30px);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.color {
  width: 30px;
  height: 30px;
  border: 2px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.color:hover {
  transform: scale(1.2);
}

.tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.tool {
  padding: 10px;
  font-size: 14px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tool:hover {
  background-color: #e64a19;
}

.tool.brush{
  position: relative;
  width: 30%;
}

.tool.eraser {
  background-color: #555;
  width: 30%;
}

.tool.eraser:hover {
  background-color: #333;
}

.tool.clear {
  background-color: #f44336;
  width: 30%;
}

.tool.clear:hover {
  background-color: #d32f2f;
}

.tool.fullscreen {
  background-color: #4CAF50; /* Cor para o botão de tela cheia */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30%;
}

.tool.fullscreen:hover {
  background-color: #45a049; /* Cor para o botão quando estiver no hover */
}


/* Capa */
.hidden {
  display: none !important; /* Garante que o elemento seja completamente oculto */
}

/* Ajuste para a tela do jogo */
#gameScreen.hidden {
  display: none;
}

/* Suporte a touch */
@media (hover: none) and (pointer: coarse) {
  canvas {
    touch-action: none; /* Permite desenhar com o toque */
  }
}

@media (max-width: 800px) {
  .header {
    font-size: 1em;
  }
}